In [1]:
# Import pandas library
import pandas as pd

In [2]:
# Import numpy library
import numpy as np

In [3]:
# a array creation in numpy
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
# condition checking in numpy
a<=6 # result in boolean data type

array([[ True,  True,  True],
       [ True,  True,  True],
       [False, False, False]])

In [6]:
# condition checking in numpy
np.where (a<=6) # result in index wise in the parent array----[row index],[column index]

(array([0, 0, 0, 1, 1, 1], dtype=int64),
 array([0, 1, 2, 0, 1, 2], dtype=int64))

In [7]:
# condition checking in numpy
a[np.where (a<=6)] # result in exact values

array([1, 2, 3, 4, 5, 6])

In [3]:
#csv type file access by pandas
test_data=pd.read_csv("pokemon_data.csv")
test_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
# Give Grass as a Type 1 as boolean type value return
test_data["Type 1"]=="Grass"

0       True
1       True
2       True
3       True
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [22]:
# Give Grass as a Type 1 all values
test_data.loc[test_data["Type 1"]=="Grass",:]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,275
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False,257
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False,344
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False,442
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,284
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,408

In [15]:
# Give [Attack > 100] in a DataFrame(test_data) as boolean type value return
test_data["Attack"] > 100

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796     True
797     True
798     True
799     True
Name: Attack, Length: 800, dtype: bool

In [21]:
# Give Grass as a Type 1 as boolean type value return
test_data.loc[test_data["Attack"] > 100,:]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,556
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,556
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,551
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,430
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,424
...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,554
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,650
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,520
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,520

In [16]:
test_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
# Sum of Attack,Defense,Sp. Atk,Sp. Def,Speed in the DataFrame(test_data)
test_data["total_value"]=test_data.loc[:,"Attack":"Speed"].sum(axis=1) # axis=0(default) column wise operation,axis=1 row or index wise operation 
test_data["total_value"] # boolean data type return

0      273
1      345
2      445
3      545
4      270
      ...
795    550
796    650
797    520
798    600
799    520
Name: total_value, Length: 800, dtype: int64

In [5]:
# Sum of Attack,Defense,Sp. Atk,Sp. Def,Speed in the DataFrame(test_data) and the result >450
test_data["total_value"]=test_data.loc[:,"Attack":"Speed"].sum(axis=1) # axis=0(default) column wise operation,axis=1 row or index wise operation  
test_data.loc[test_data["total_value"]>450,:] # output result with condition checking

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,456
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,556
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,556
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,451
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,550
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,650
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,520
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,520

In [31]:
test_data.loc[:,"Attack":"Speed"]

     Attack  Defense  Sp. Atk  Sp. Def  Speed
0        49       49       65       65     45
1        62       63       80       80     60
2        82       83      100      100     80
3       100      123      122      120     80
4        52       43       60       50     65
..      ...      ...      ...      ...    ...
795     100      150      100      150     50
796     160      110      160      110    110
797     110       60      150      130     70
798     160       60      170      130     80
799     110      120      130       90     70

[800 rows x 5 columns]

In [6]:
# Avg of Attack,Defense,Sp. Atk,Sp. Def,Speed in the DataFrame(test_data)
test_data["avg_value"]=test_data.loc[:,"Attack":"Speed"].mean(axis=1) # axis=0(default) column wise operation,axis=1 row or index wise operation 
test_data["avg_value"] # boolean data type return

0       54.6
1       69.0
2       89.0
3      109.0
4       54.0
       ...
795    110.0
796    130.0
797    104.0
798    120.0
799    104.0
Name: avg_value, Length: 800, dtype: float64

In [7]:
# Avg of Attack,Defense,Sp. Atk,Sp. Def,Speed in the DataFrame(test_data) and the result >110
test_data["avg_value"]=test_data.loc[:,"Attack":"Speed"].mean(axis=1) # axis=0(default) column wise operation,axis=1 row or index wise operation  
test_data.loc[test_data["avg_value"] > 100,:] # output result with condition checking

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545,109.0
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,556,111.2
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,551,110.2
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,535,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600,120.0
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,520,104.0

### Find the all rows where Type 1 = Grass and Attack >100

In [32]:
test_data.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345,69.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545,109.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,270,54.0
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,347,69.4
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,556,111.2
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,270,54.0

#### and operation (&)

In [33]:
# and operation (&) 
(test_data["Type 1"]=="Grass") & (test_data["Attack"] > 100) # boolean data type return

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [36]:
# and operation (&) 
test_data.loc[(test_data["Type 1"]=="Grass") & (test_data["Attack"] > 100),:] # output result with condition checking

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,410,82.0
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,560,112.0
310,286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False,400,80.0
363,332,Cacturne,Grass,Dark,70,115,60,115,60,55,3,False,405,81.0
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False,430,86.0
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,504,100.8
521,470,Leafeon,Grass,NaN,65,110,130,60,65,95,4,False,460,92.0
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True,500,100.0
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False,442,88.4

### Find the all rows where Type 1 = Grass or Attack < 80

In [38]:
test_data.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345,69.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545,109.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,270,54.0
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,347,69.4
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,556,111.2
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,270,54.0

#### or operation (|)

In [35]:
# or operation (|) 
(test_data["Type 1"]=="Grass") | (test_data["Attack"] < 80) # boolean data type return

0       True
1       True
2       True
3       True
4       True
       ...
795    False
796    False
797    False
798    False
799    False
Length: 800, dtype: bool

In [37]:
# or operation (|) 
test_data.loc[(test_data["Type 1"]=="Grass") | (test_data["Attack"] < 80),:] # output result with condition checking

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345,69.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545,109.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False,281,56.2
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False,276,55.2
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False,249,49.8
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False,205,41.0
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,450,90.0

### Find the all rows not in [where Type 1 = Grass or Attack < 80]

In [39]:
test_data.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345,69.0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545,109.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,270,54.0
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,347,69.4
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,556,111.2
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,270,54.0

#### not operation (~)

In [40]:
# not operation (~) 
~(test_data["Type 1"]=="Grass") | (test_data["Attack"] < 80) # boolean data type return

0       True
1       True
2      False
3      False
4       True
       ...
795     True
796     True
797     True
798     True
799     True
Length: 800, dtype: bool

In [41]:
# not operation (~) 
test_data.loc[~(test_data["Type 1"]=="Grass") | (test_data["Attack"] < 80),:] # output result with condition checking

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345,69.0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,270,54.0
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,347,69.4
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,456,91.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,600,120.0
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,520,104.0

## Description Function

In [43]:
test_data.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,total_value,avg_value
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000,800.000000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,365.843750,73.168750
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,106.077471,21.215494
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,120.000000,24.000000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,275.000000,55.000000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,370.000000,74.000000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,433.000000,86.600000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,675.000000,135.000000

In [45]:
#shape function
test_data.shape #(row & column number printing)

(800, 14)

### check null values

In [46]:
test_data.isna() # False=not null, True=null

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,False,False,False,False,False,False,False,False,False,False,False,False,False,False
796,False,False,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False,False,False
798,False,False,False,False,False,False,False,False,False,False,False,False,False,False
799,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [47]:
test_data.isna().sum() # null values(386) in Type 2 column

#                0
Name             0
Type 1           0
Type 2         386
HP               0
Attack           0
Defense          0
Sp. Atk          0
Sp. Def          0
Speed            0
Generation       0
Legendary        0
total_value      0
avg_value        0
dtype: int64

## null imputation

In [48]:
# 1. If this is a numerical column, then we can impute a null value with the column mean or median
# 2. If the value is a categorical (text), we can impute the null value with the column mode.
# 3. We can impute the null values with value before the null or after the null.
# 4. Domain specific imputation

In [18]:
test_data["HP"].head(10)

0    45.0
1     NaN
2    80.0
3    80.0
4    39.0
5    58.0
6    78.0
7    78.0
8    78.0
9    44.0
Name: HP, dtype: float64

### fillna Function

In [10]:
# null value update in a cell in a DataFrame
test_data.loc[1,"HP"]= None
test_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45.0,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,NaN,62,63,80,80,60,1,False,345,69.0
2,3,Venusaur,Grass,Poison,80.0,82,83,100,100,80,1,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.0,100,123,122,120,80,1,False,545,109.0
4,4,Charmander,Fire,NaN,39.0,52,43,60,50,65,1,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50.0,100,150,100,150,50,6,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50.0,160,110,160,110,110,6,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80.0,110,60,150,130,70,6,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80.0,160,60,170,130,80,6,True,600,120.0
799,721,Volcanion,Fire,Water,80.0,110,120,130,90,70,6,True,520,104.0

In [20]:
# mean value output in "HP" column in DataFrame(test_data)
hp_mean = test_data["HP"].mean() # the mean value stores in a variable
hp_mean

69.270337922403

In [22]:
# mean imputation in null value in "HP" column in DataFrame(test_data)
test_data["HP"].fillna(hp_mean,inplace = True) # here we also permanent update the null value
test_data

C:\Users\USER\AppData\Local\Temp\ipykernel_7368\214638312.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data["HP"].fillna(hp_mean,inplace = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45.000000,49,49,65,65,45,1,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,1,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50.000000,100,150,100,150,50,6,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50.000000,160,110,160,110,110,6,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80.000000,110,60,150,130,70,6,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80.000000,160,60,170,130,80,6,True,600,120.0
799,721,Volcanion,Fire,Water,80.000000,110,120,130,90,70,6,True,520,104.0

In [23]:
# null value update in a cell in a DataFrame
test_data.loc[2,"Generation"]= None
test_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,NaN,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50.000000,100,150,100,150,50,6.0,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50.000000,160,110,160,110,110,6.0,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80.000000,110,60,150,130,70,6.0,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80.000000,160,60,170,130,80,6.0,True,600,120.0
799,721,Volcanion,Fire,Water,80.000000,110,120,130,90,70,6.0,True,520,104.0

In [25]:
# median value output in "Generation" column in DataFrame(test_data)
hp_median = test_data["Generation"].median() # the median value stores in a variable
hp_median

3.0

In [26]:
# median imputation in null value in "Generation" column in DataFrame(test_data)
test_data["Generation"].fillna(hp_median,inplace = True) # here we also permanent update the null value
test_data

C:\Users\USER\AppData\Local\Temp\ipykernel_7368\996526612.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data["Generation"].fillna(hp_median,inplace = True) # here we also permanent update the null value

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Grass,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50.000000,100,150,100,150,50,6.0,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50.000000,160,110,160,110,110,6.0,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80.000000,110,60,150,130,70,6.0,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80.000000,160,60,170,130,80,6.0,True,600,120.0
799,721,Volcanion,Fire,Water,80.000000,110,120,130,90,70,6.0,True,520,104.0

In [42]:
# null value update in a cell in a DataFrame
test_data.loc[0,"Type 1"]= None
test_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,None,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50.000000,100,150,100,150,50,6.0,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50.000000,160,110,160,110,110,6.0,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80.000000,110,60,150,130,70,6.0,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80.000000,160,60,170,130,80,6.0,True,600,120.0
799,721,Volcanion,Fire,Water,80.000000,110,120,130,90,70,6.0,True,520,104.0

In [45]:
# mode value output in "Type 1" column in DataFrame(test_data)
hp_mode = test_data["Type 1"].mode()[0] # the mode value stores in a variable
hp_mode

'Water'

In [46]:
# mode imputation in null value in "Type 1" column in DataFrame(test_data)
test_data["Type 1"].fillna(hp_mode,inplace = True) # here we also permanent update the null value
test_data

C:\Users\USER\AppData\Local\Temp\ipykernel_7368\1567496156.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test_data["Type 1"].fillna(hp_mode,inplace = True) # here we also permanent update the null value

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Water,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50.000000,100,150,100,150,50,6.0,True,550,110.0
796,719,DiancieMega Diancie,Rock,Fairy,50.000000,160,110,160,110,110,6.0,True,650,130.0
797,720,HoopaHoopa Confined,Psychic,Ghost,80.000000,110,60,150,130,70,6.0,True,520,104.0
798,720,HoopaHoopa Unbound,Psychic,Dark,80.000000,160,60,170,130,80,6.0,True,600,120.0
799,721,Volcanion,Fire,Water,80.000000,110,120,130,90,70,6.0,True,520,104.0

In [56]:
# user defined value imputation in null values
test_data["Type 2"].fillna("Deepjoy").head(20)

0      Poison
1      Poison
2      Poison
3      Poison
4     Deepjoy
5     Deepjoy
6      Flying
7      Dragon
8      Flying
9     Deepjoy
10    Deepjoy
11    Deepjoy
12    Deepjoy
13    Deepjoy
14    Deepjoy
15     Flying
16     Poison
17     Poison
18     Poison
19     Poison
Name: Type 2, dtype: object

In [49]:
test_data["Type 2"].head(20)

0     Poison
1     Poison
2     Poison
3     Poison
4        NaN
5        NaN
6     Flying
7     Dragon
8     Flying
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15    Flying
16    Poison
17    Poison
18    Poison
19    Poison
Name: Type 2, dtype: object

In [53]:
# impute the null values with value before the null (forward filling) in "Type 2" column in DataFrame(test_data)
test_data["Type 2"].fillna(method="ffill").head(20)

C:\Users\USER\AppData\Local\Temp\ipykernel_7368\95554426.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_data["Type 2"].fillna(method="ffill").head(20)

0     Poison
1     Poison
2     Poison
3     Poison
4     Poison
5     Poison
6     Flying
7     Dragon
8     Flying
9     Flying
10    Flying
11    Flying
12    Flying
13    Flying
14    Flying
15    Flying
16    Poison
17    Poison
18    Poison
19    Poison
Name: Type 2, dtype: object

In [54]:
test_data["Type 2"].head(20)

0     Poison
1     Poison
2     Poison
3     Poison
4        NaN
5        NaN
6     Flying
7     Dragon
8     Flying
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15    Flying
16    Poison
17    Poison
18    Poison
19    Poison
Name: Type 2, dtype: object

In [55]:
# impute the null values with value after the null (backward filling) in "Type 2" column in DataFrame(test_data)
test_data["Type 2"].fillna(method="bfill").head(20)

C:\Users\USER\AppData\Local\Temp\ipykernel_7368\1077358282.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  test_data["Type 2"].fillna(method="bfill").head(20)

0     Poison
1     Poison
2     Poison
3     Poison
4     Flying
5     Flying
6     Flying
7     Dragon
8     Flying
9     Flying
10    Flying
11    Flying
12    Flying
13    Flying
14    Flying
15    Flying
16    Poison
17    Poison
18    Poison
19    Poison
Name: Type 2, dtype: object

In [57]:
# very few null rows ---> will delete those rows
# 10-20% null rows --> fillna
# 50-60% null rows ---> then we should delete those columns

### dropna function

In [59]:
test_data.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Water,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
5,5,Charmeleon,Fire,NaN,58.000000,64,58,80,65,80,1.0,False,347,69.4
6,6,Charizard,Fire,Flying,78.000000,84,78,109,85,100,1.0,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78.000000,130,111,130,85,100,1.0,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78.000000,104,78,159,115,100,1.0,False,556,111.2
9,7,Squirtle,Water,NaN,44.000000,48,65,50,64,43,1.0,False,270,54.0

In [60]:
# dropna function
test_data.dropna(how="any").head(10) # "any" parameter to drop entire row which contains any null values inside the DataFrame

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Water,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
6,6,Charizard,Fire,Flying,78.000000,84,78,109,85,100,1.0,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78.000000,130,111,130,85,100,1.0,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78.000000,104,78,159,115,100,1.0,False,556,111.2
15,12,Butterfree,Bug,Flying,60.000000,45,50,90,80,70,1.0,False,335,67.0
16,13,Weedle,Bug,Poison,40.000000,35,30,20,20,50,1.0,False,155,31.0
17,14,Kakuna,Bug,Poison,45.000000,25,50,25,25,35,1.0,False,160,32.0

In [61]:
# dropna function
test_data.dropna(how="all").head(10) # "all" parameter to drop entire row which contains all null values inside the DataFrame

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Water,Poison,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
5,5,Charmeleon,Fire,NaN,58.000000,64,58,80,65,80,1.0,False,347,69.4
6,6,Charizard,Fire,Flying,78.000000,84,78,109,85,100,1.0,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78.000000,130,111,130,85,100,1.0,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78.000000,104,78,159,115,100,1.0,False,556,111.2
9,7,Squirtle,Water,NaN,44.000000,48,65,50,64,43,1.0,False,270,54.0

In [62]:
# drop entire column
test_data.drop("Type 2",axis=1).head(10) # axis=1 for column

,#,Name,Type 1,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
0,1,Bulbasaur,Water,45.000000,49,49,65,65,45,1.0,False,273,54.6
1,2,Ivysaur,Grass,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,39.000000,52,43,60,50,65,1.0,False,270,54.0
5,5,Charmeleon,Fire,58.000000,64,58,80,65,80,1.0,False,347,69.4
6,6,Charizard,Fire,78.000000,84,78,109,85,100,1.0,False,456,91.2
7,6,CharizardMega Charizard X,Fire,78.000000,130,111,130,85,100,1.0,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,78.000000,104,78,159,115,100,1.0,False,556,111.2
9,7,Squirtle,Water,44.000000,48,65,50,64,43,1.0,False,270,54.0

In [68]:
# drop entire row
test_data.drop(0,axis=0).head(10) # axis=0 for row (default)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total_value,avg_value
1,2,Ivysaur,Grass,Poison,69.270338,62,63,80,80,60,1.0,False,345,69.0
2,3,Venusaur,Grass,Poison,80.000000,82,83,100,100,80,3.0,False,445,89.0
3,3,VenusaurMega Venusaur,Grass,Poison,80.000000,100,123,122,120,80,1.0,False,545,109.0
4,4,Charmander,Fire,NaN,39.000000,52,43,60,50,65,1.0,False,270,54.0
5,5,Charmeleon,Fire,NaN,58.000000,64,58,80,65,80,1.0,False,347,69.4
6,6,Charizard,Fire,Flying,78.000000,84,78,109,85,100,1.0,False,456,91.2
7,6,CharizardMega Charizard X,Fire,Dragon,78.000000,130,111,130,85,100,1.0,False,556,111.2
8,6,CharizardMega Charizard Y,Fire,Flying,78.000000,104,78,159,115,100,1.0,False,556,111.2
9,7,Squirtle,Water,NaN,44.000000,48,65,50,64,43,1.0,False,270,54.0
10,8,Wartortle,Water,NaN,59.000000,63,80,65,80,58,1.0,False,346,69.2

### value_counts

In [70]:
# counting the each unique values total counting of a perticular column("Type 1") of a DataFrame (test_data)
test_data["Type 1"].value_counts()

Type 1
Water       113
Normal       98
Bug          69
Grass        69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [71]:
# mode operation in a column ("Type 1") of a DataFrame (test_data)
test_data["Type 1"].mode()

0    Water
Name: Type 1, dtype: object

### Unique  & Nunique

In [72]:
# unique function
test_data["Type 1"].unique() # indivisual unique values

array(['Water', 'Grass', 'Fire', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [73]:
# nunique function
test_data["Type 1"].nunique() # indivisual unique values count

18

## HOME WORK
### 1. How many types are there in Type 1 where Attack is lesser than 80
### 2. what is the shape of the data where attack is greater than 100, Hp is equal to 5, Speed is greater than 75
### 3. Give me the pokemon name only where Type1 is "Rock" or Attack is grteater than 100 and speed is greater than 80
### 4. Give me the pokemon name, Type1 and Defense where defense is a odd number and attack is a even number

In [74]:
#csv type file access by pandas
test_data=pd.read_csv("pokemon_data.csv")
test_data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [75]:
# 1. How many types are there in Type 1 where Attack is lesser than 80

test_data.loc[test_data["Attack"] <80]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
782,710,PumpkabooLarge Size,Ghost,Grass,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,59,66,70,44,55,41,6,False
788,712,Bergmite,Ice,NaN,55,69,85,32,35,28,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False

In [76]:
# 2. what is the shape of the data where attack is greater than 100, Hp is equal to 5, Speed is greater than 75

result_2=test_data.loc[(test_data["Attack"] >100) & (test_data["HP"]==5) & (test_data["Speed"] > 75),:]
result_2.shape

(0, 12)

In [77]:
# 3. Give me the pokemon name only where Type1 is "Rock" or Attack is grteater than 100 and speed is greater than 80

result=test_data.loc[(test_data["Type 1"] =="Rock") | (test_data["Attack"]>100) & (test_data["Speed"] > 80),:]
result.loc[:,"Name"]

7      CharizardMega Charizard X
8      CharizardMega Charizard Y
19         BeedrillMega Beedrill
39                      Nidoking
62                      Primeape
                 ...
773                      Carbink
792                      Xerneas
793                      Yveltal
795                      Diancie
796          DiancieMega Diancie
Name: Name, Length: 128, dtype: object

In [78]:
# 3. Give me the pokemon name only where Type1 is "Rock" or Attack is grteater than 100 and speed is greater than 80

test_data.loc[(test_data["Type 1"] =="Rock") | (test_data["Attack"]>100) & (test_data["Speed"] > 80),"Name"]

7      CharizardMega Charizard X
8      CharizardMega Charizard Y
19         BeedrillMega Beedrill
39                      Nidoking
62                      Primeape
                 ...
773                      Carbink
792                      Xerneas
793                      Yveltal
795                      Diancie
796          DiancieMega Diancie
Name: Name, Length: 128, dtype: object

In [79]:
# 4. Give me the pokemon name, Type1 and Defense where defense is a odd number and attack is a even number

result_test=test_data.loc[((test_data["Defense"] %2) !=0) & ((test_data["Attack"] %2)==0),:]
result_test

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
772,702,Dedenne,Electric,Fairy,67,58,57,81,67,101,6,False
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
777,707,Klefki,Steel,Fairy,57,80,91,80,87,75,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [80]:
# 4. Give me the pokemon name, Type1 and Defense where defense is a odd number and attack is a even number

test_data.loc[((test_data["Defense"] %2) !=0) & ((test_data["Attack"] %2)==0),["Name","Type 1","Defense"]]

                          Name    Type 1  Defense
1                      Ivysaur     Grass       63
2                     Venusaur     Grass       83
3        VenusaurMega Venusaur     Grass      123
4                   Charmander      Fire       43
7    CharizardMega Charizard X      Fire      111
..                         ...       ...      ...
772                    Dedenne  Electric       57
774                      Goomy    Dragon       35
777                     Klefki     Steel       91
790                     Noibat    Flying       35
794           Zygarde50% Forme    Dragon      121

[154 rows x 3 columns]